* { font-family:微軟正黑體; }                                 /*全部字型統一*/
    


html,
body {
    width: 100%;
    height:100%;
    margin: 0px;
}

body {
    background-color:rgb(227, 206, 216);
    position: relative;
}

.namecard{                                                 /*大小*/
    width:  800px;
    height: 300px;

    padding: 30px;
    margin-left: auto;
    margin-right:auto;
    margin-top:  150px;
    background-color:rgba(171, 197, 226, 0.97);
    letter-spacing: 1px;
    color: rgb(82, 94, 131); 
    border-radius:10px;                                    /*圓角*/
     transition-duration:0.5s;
      overflow:hidden;

}

.right{
    position: absolute;
    margin-left: 180px;
}

.namecard h2{
    font-size: 28px;
    letter-spacing: 8px;
    color: #555bc0;
}

.namecard h2 span{
    padding:  10px;
    font-size:16px;
    color: #555bc0;
    letter-spacing:5px;

}

.namecard h5{
font-size:20px;
letter-spacing: 4px;
color:rgb(82, 94, 131) 
}

.namespace p{
    font-size: 15px;
    font-weight: 300;
    color: rgb(133, 75, 182);
    line-height: 22px;
}

img{
    width: 140px;
    height: 140px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;                                


    border-radius: 8px;                                 /*圓角*/
    box-shadow: 0px 0px 15px rgba(0 , 0 , 0 , 0.2);   /*陰影 a為透明度*/
}


.circle{
    width: 100px;
    height:100px;
    border-radius: 100%;
    position: absolute;
    transition-duration:0.5s;

}

.circle1{
    width:80px;
    height:80px;
    right: -300px;
    top:-30px;
    border: solid 0.25px #982;
}


.circle2{
    width: 40px;
    height:40px;
    top:   90px;
    right:-200px;
    background-color: #040531;

}

/*動畫*/


.namecard:hover{
    transform: translateY(0px) translateX(-40px);
    box-shadow: 10px 10px 30px rgba(50, 50, 50, 0.3);
    background-color: rgba(171, 226, 204, 0.97)     ;
    color:rgb(82, 94, 131);
}

.namecard:hover .circle1{
    transform-origin: 30% 30%;
    transform: scale(1.8);
    transition-duration:2s;
    overflow:hidden;

}

.namecard:hover .circle2{
    transform-origin: 50% 50%;
    transform: scale(0.0);
    transition-duration:1s;
    right: 20px;
    top: 20px;
}


















